body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #FF5733, #FFC300);
    margin: 0;
    padding: 0;
}

#quiz {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to bottom, #de4e2e, #c19606);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

label {
    display: block;
    margin: 10px 0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

label:hover {
    background-color: #f0f0f0;
}

input[type="radio"]:checked + label {
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
}

button {
    background-color: #0074D9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    font-weight: bold;
    margin: 20px 0;
    color: #333;
}
